/* Shipper */

#yje2otu0nty2mzaznju {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #fcfafc;
    height: 100vh;
  }
  
  #cte2otu0nty2ndu1njy {
    height: 360px;
    border-radius: 10px;
    padding: 20px 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #fcfafc;
  }
  
  #ete2otu0nty4nze1otc {
    font-size: 30px;
    font-weight: 500;
  }
  
  #cte2otu0nty2ndu1njy img {
    width: 250px;
    height: 250px;
  }
  
  #zze2otu0ntc4otizmja {
    font-size: 16px;
    font-weight: 500;
  }
  
  