header .account-content .icon-avatar {
  width: 30px;
  height: 30px;
  position: relative;
}

.AJE2OTYWNJK0MZY4MJY {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-content {
  width: 100%;
  height: 100%;
}

header .account-activitie {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header .account-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .account-content svg {
  font-size: 18px;
  color: #6a6a6a;
}

header .comos {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: var(--header-height);
  background: var(--content-color);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  color: var(--color-text);
}

.aje2otu2mzmxodcynzu {
  padding: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
  cursor: pointer
}

.ete2otu2mzmymtq4mjc {
  gap: 10px;
}

#DTE2OTU3MTM0MZC0NTU {
  font-size: calc(16px + .2vw);
  font-weight: 500;
  line-height: 26px;
  padding: 0px;
  user-select: none;
  height: 30px;
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.dte2otu2mzi4mjc4mte input {
  border-radius: 30px;
  height: 30px;
  padding: 0px 20px;
  border: none;
  background: var(--color-blur-ii);
  width: 180px;
}

.dte2otu2mzi4mjc4mte input:focus,
.dte2otu2mzi4mjc4mte input:active {
  border: none;
  box-shadow: 0px 0px 3px #666666;
  outline: none;
}

#normal-container {
  min-height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  width: var(--max-width);
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: start;
  justify-content: space-between;
  position: relative;
  background: var(--background);
}

#normal-container .simplebar-horizontal .simplebar-scrollbar:before {
  top: 6px;
  bottom: 0px;
  left: 2px;
  right: 2px;
  border-radius: 0px;
}

#normal-container .simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 6px;
  right: 0px;
  border-radius: 0px;
}


button{
  cursor: pointer;
  border: inherit;
  color: inherit;
  background: inherit;
}

input:focus{
  outline: none;
}

input{
  min-height: 25px;
  background: var(--white-color);
}


/* KEYFRAME */

@keyframes zoom_in {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}