

.DJE2OTYWNTM1OTG0NJI {
    max-width: var(--normal-content-width);
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    padding: 10px;
}


.AZE2OTYWNTM2MZGYNDY {
    margin-top: 20px;
}

#ZTE2OTYWNTC3NZU5ODU {
    width: var(--normal-content-width);
    padding-top: var(--title-page-height);
}

#BDE2OTYWNTY5MTYXMZG {
    height: 400px;
}

.BJE2OTYWNJCZNTY0NDE {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    margin-top: var(--header-height);
}
