body {
    margin: 0;
    font-family: "Cuprum";
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[theme="one"] {

    --background: white;
    --link-color: rgb(23, 131, 220);

}