.YZE2OTYWNJIYMZI4MJA {
    color: var(--color);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CZE2OTYWNJA1OTQYNZU[active="true"] {
    background: var(--menu-active);
}

.S31696256349519 {
    min-width: 16px;
}

.CZE2OTYWNJA1OTQYNZU {
    color: var(--color);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.S01696256143143 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 220px;
}

.S11696252745831 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
}

.S11696252745831[active="true"] {
    background: var(--menu-active);
}

.S81696252818575 {
    font-size: 22px;
    transform: rotate(-90deg);
    transition: .3s ease;
}

@keyframes dropDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.S71696252911655 {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    animation: dropDown .3s ease;
}



.S21696253072135 {
    padding: 10px;
    background: rgba(0, 41, 255, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.S21696253072135[active="true"]::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: white;
    position: absolute;
    right: 10px;
}

.S71696252911655 .S21696253072135:not(:last-child) {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

/* SELECT */
.sete2otyzotu2odewota {
    position: relative;
}

.syze2oty0ntm3nte3otm {
    padding: 0px 10px;
    border: solid 1px var(--color-blur);
    min-height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.syze2oty0ntm3nte3otm svg {
    margin-top: 1px;
}

.syze2oty0ntm3nte3otm span {
    width: calc(100% - 20px);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}


.bde2oty0ntm3mjqznzc {}

.sade2oty0ntc1odg1mdi {
    display: none;
}

.sade2oty0ntc1odg1mdi[show="true"] {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: var(--background);
    font-size: 14px;
    top: calc(100% + 5px);
    overflow: hidden;
    animation: slideUp .3s ease;
    border: solid 1px var(--color-blur);
    user-select: none;
}

.bde2oty0ntm3mjqznzc .zde2oty0ntm0nzc5otq:not(:last-child) {
    border-bottom: solid 1px var(--color-blur);
}

.zde2oty0ntm0nzc5otq {
    padding: 8px 10px;
    background: var(--background);
    cursor: pointer;
    user-select: none;
}

.zde2oty0ntm0nzc5otq:hover {
    filter: brightness(0.95);
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Switch Button*/

.ate2oty2njywnji3mdq {
    background: var(--color-blur);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
    position: relative;
}

.ate2oty2njywnji3mdq[active="true"] {
    background: var(--primary);
}

.aje2oty2njywodywnze {
    background: var(--gray-color);
    position: absolute;
    transition: .3s linear;
}

.ate2oty2njywnji3mdq[active="true"] .aje2oty2njywodywnze{
    background: var(--white-color);

}

/* POPUP */

.dte2oty4mju2mjcyndc{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.yze2oty4mju2mjqwmtu{
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.ede2oty4mju0mzgzndu{
    min-width: 300px;
    min-height: 150px;
    max-height: 500px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: var(--background);
    position: relative;
    justify-content: space-between;
    animation: zoom_in .3s ease;
}
.cde2oty4mzy1ntgzntk{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.zje2oty4mju0ntu1odq{
    font-size: 16px;
    font-weight: 600;
}

.bde2oty4mju1otayoty{
    color: var(--color-text);
}

.zze2oty4mju1otkxote{
    padding: 6px 12px;
    background: var(--primary);
    color: white;
}

.ade2oty4mju1odiwnzi{
    display: flex;
    justify-content: space-between;
}