
/* product*/



.SDZE2OTYYMZUWNTMYMDC{
    max-width: 220px;
}

#DJE2OTYZODIZMTYZOTY{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
}
#BDE2OTYZODI2MTIYMDM{
    height: 32px;
    width: 200px;
    border: solid 1px var(--color-blur);
    padding: 0px 20px;
}

#CZE2OTYZOTQZNTK1NTY button{
    position: absolute;
    right: 10px;
    font-size: 15px;
}

#CZE2OTYZOTQZNTK1NTY{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.aze2otyzotq4mdc0nta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#ade2oty0otk1mduzmja{
    width: 170px;
}

/* edit product */

.bje2oty2njmxnziwnja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: start;

}
.yze2oty2njmyntiymdm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bte2oty2njm2ntc1otu{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bte2oty2njm2ntc1otu input{
    border: none;
    height: 32px;
    background: var(--white-color);
    padding: 0px 10px;
    border: solid 1px var(--color-blur)
}


.yze2oty2njmxode0ntk img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
   
.yze2oty2njmxode0ntk{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: var(--primary);
    align-items: center;
}
.bze2oty4mtm0otexmdu{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: solid 1px var(--outline-color);
}

.cje2oty4mtm5njq5otu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.yte2oty4mtqynjuznjy{
    font-size: 18px;
    font-weight: 500;
}

.ate2oty2njm5mze5mze{
    height: 38px;
    color: var(--white-color);
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
}

.cze2oty2njq4mdm5nze{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    outline: solid 1px var(--outline-color);
}

.zte2oty4mtu0otg5odm{
    font-weight: 500;
}

.yze2oty2njuzndmwmjy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cze2oty2njq4mdm5nze  .cje2oty2nzm3ntm3ntm:not(:first-child){
    padding-top: 10px;
    border-top: solid 1px var(--color-blur);

}