body {
    margin: 0;
    position: relative;
    overflow: hidden;
    background: var(--content-color)
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    --max-width: 100vw;
    --menu-width: 280px;
    --min-width: 660px;
    --slide-clock-height: 3px;
    --skeleton-color: linear-gradient(-90deg, #ffffff, #cdcdcd, #ffffff);
    --font: "Cuprum","Google Sans", Roboto, Ubuntu, sans-serif
}



[theme='one'] {
    --white-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --content-color: rgb(241, 241, 241);
    --background: white;
    --color-blur: rgb(205, 205, 205);
    --color-blur-ii: rgb(228, 228, 228);
    --color-blur-iii: rgb(201 201 201 / 20%);
    --item-menu-background: rgba(91, 157, 255, 0.1);
    --menu-linear-one: rgba(74, 146, 255, 0.6);
    --menu-linear-two: rgba(159, 135, 255, 0.56);
    --color: white;
    --header-height: 40px;
    --color-text: #252525;
    --content-padding: 5px;
    --primary: #186ded;
    --normal-content-width: calc(var(--max-width) - var(--menu-width));
    --normal-padding: 10px;
    --title-page-height: 40px;
    --gray-color: rgb(99 99 99);
    --index: 1000;
    --outline-color: rgb(197 197 197);
    --menu-active: rgba(255, 255, 255, 0.25);
}