  /* vietnamese */
  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-Regular.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-Medium.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-MediumItalic.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-Bold.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-SemiBoldItalic.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-SemiBold.ttf) ;
  }

  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/@{release}/designs/fonts/cuprum/font/Cuprum-SemiBoldItalic.ttf) ;
  }