.SDZE2OTYYMZUWNTMYMDC{
    max-width: 220px;
}

#DJE2OTYZODIZMTYZOTY{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}
#BDE2OTYZODI2MTIYMDM{
    height: 36px;
    width: 200px;
    border: solid 1px var(--color-blur);
    border-radius: 10px;
    padding: 0px 20px;
}

#CZE2OTYZOTQZNTK1NTY button{
    position: absolute;
    right: 10px;
    font-size: 15px;
}

#CZE2OTYZOTQZNTK1NTY{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.aze2otyzotq4mdc0nta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}